* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
  height: auto;
  width: auto;
}

.taxi {
  width: auto;
  height: 120vh;
  background-image: url("../assets/images/taxi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.taxi form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 540px;
  height: 415px;
  background-color: #F7B617;
  margin-top: 150px;
  position: absolute;
  right: 0;
  padding: 52px 53px;
}

.taxi form h2 {
  color: #FFF;
  font-size: 36px;
  line-height: 32px;
}

.taxi form span {
  font-size: 24px;
}

.line {
  width: 130px;
  border-top: 1px solid #FFF;
  display: inline-block;
}

.phone {
  background-color: #F7B617;
  margin-top: -105px;
}

.text h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.text p {
  font-size: 22px;
  width: 380px;
}

.square {
  display: flex;
  border: 1px solid white;
  margin-left: -40px;
  width: 1200px;
}

.driver {
  display: flex;
  height: 68vh;
  background-image: url("../assets/images/conduce.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.driver h3 {
  font-size: 24px;
}

.driver p {
  font-size: 20px;
}

.driver button {
  background-color: #F7B617;
  color: #FFF;
  font-size: 18px;
}

.conduce {
  margin-left: 65.5vw;
  margin-right: auto;
  padding-top: 15vh;
  background-color: rgba(0,0,0,0.50);
  padding-left: 5vh;
}

.conduce h3 {
  font-size: 30px;
  font-weight: 400;
}

.conduce p {
  font-size: 18px;
}

.rates {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #F7B617;
}

.map {
  background-color: #F7B617;
  padding: 20px;
}

footer {
  height: auto;
  background-color: #2B2B2B;
  padding-top: 40px;
}

.line-footer {
  width: 100%;
  border-top: 1px solid;
  display: inline-block;
  color: #FFF;
}

li {
  list-style: none;
  font-size: 14px;
  line-height: 40px;
}

a {
  color: #FFF;
}

.down {
  margin-top: 30vh;
}

.down img {
  padding-bottom: 3vh;
}

.icons {
  display: flex;
  margin-top: 50vh;
  margin-bottom: 0;
}

li {
  padding-right: 1vw;
}

@media screen and (max-width: 576px) {
  .taxi {
    height: 80vh;
    background-position: bottom;
  }

  .taxi form {
    width: 80vw;
    height: 40vh;
    right: 0;
    bottom: 30%;
    padding-left: 20px;
    font-size: 20px;
  }

  .taxi form h2 {
    font-size: 32px;
  }

  .phone {
    margin-top: 0px;
  }

  .phone h4 {
    font-size: 18px;
  }

  .square {
    display: flex;
    border: 1px solid white;
    margin-left: 0px;
    margin-right: 0px;
    width: 160%;
  }

  .icons {
    display: flex;
    margin-top: 0;
    margin-left: 45vw;
  }

}
